<?xml version="1.0"?>
<launch>
  <!-- <arg name="custom_param_file" default="$(find turtlebot_navigation)/param/dummy.yaml"/> -->
  <!-- <include file="$(find turtlebot_bringup)/launch/3dsensor.launch">
    <arg name="rgb_processing" value="false" />
    <arg name="depth_registration" value="false" />
    <arg name="depth_processing" value="false" />
    <arg name="scan_topic" value="/scan" />
  </include> -->

  <!-- Map server -->
  <!-- <arg name="map_file" default="$(env TURTLEBOT_MAP_FILE)"/> -->
  <node pkg="map_server" type="map_server" name="map_server" args="$(find ros_test1)/map/map302.yaml"/>
  <arg name="initial_pose_x" default="0.0"/> <!-- Use 17.0 for willow's map in simulation -->
  <arg name="initial_pose_y" default="0.0"/> <!-- Use 17.0 for willow's map in simulation -->
  <arg name="initial_pose_a" default="0.0"/>
  <include file="$(find ros_test1)/launch/includes/real_amcl.launch.xml">
    <arg name="initial_pose_x" value="$(arg initial_pose_x)"/>
    <arg name="initial_pose_y" value="$(arg initial_pose_y)"/>
    <arg name="initial_pose_a" value="$(arg initial_pose_a)"/>
  </include>

  <include file="$(find ros_test1)/launch/includes/real_move_base.launch.xml">
    <!-- <arg name="custom_param_file" value="$(arg custom_param_file)"/> -->
  </include>
  <node pkg="hokuyo_node" type="hokuyo_node" name="hokuyo">
	<param name="frame_id" value="/hokuyo_link"/>
  </node>
  <!--node pkg="tf" type="static_transform_publisher" name="map_2_odom" args="0 0 0 0 0 0 /map /odom 100"/>
  <node pkg="tf" type="static_transform_publisher" name="odom_2_base_link" args="0 0 0 0 0 0 /odom /base_link 100"/>
  <node pkg="tf" type="static_transform_publisher" name="hokuyo_2_laser_link" args="0 0 0 0 0 0 /hokuyo_link /laser 100"/-->
</launch>

